/* @import-normalize; */

@import 'font.css';
@import 'recipe-list.css';
@import 'buttons.css';
@import 'recipe.css';
@import 'ingredient-list.css';
/* *,*::after,*::before{
    padding: 0;
    margin:0;
} */

body {
    font-family: 'Roboto Mono', monospace;
    padding: 0;
    margin: 0;
}

.mr-1 {
    margin-right: 5px;
}