.btn{
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    background: none;
    padding: 0.2rem 0.5rem;
    cursor: pointer;
} 


.btn--primary{
    background-color: hsl(200,100%,50%);
    color: rgb(255, 255, 255);

}

.btn--primary:hover{
    background-color: hsl(200,100%,35%);
    

}

.btn--danger{
   background-color:hsl(0,100%,50%);
}


.btn--danger:hover{
   background-color:hsl(0,100%,35%);
}