.recipe-edit {
  padding: 0 10px;
}

.recipe-edit__details-grid {
  display: flex;
  flex-flow: column wrap;
}

.recipe-edit__remove-button-container {
  text-align: end;
}

.recipe-edit__remove-button {
  padding: none;
  font-size: 1.5rem;
}

.recipe-edit__label {
  font-weight: bold;
  padding: 10px 10px;
}

.recipe-edit__input {
  font-family: "Inter", sans-serif;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 10px;
}

.recipe-edit__ingredient-grid {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 10px;
}



  
  textarea.recipe-edit__input{
  resize: none;
  height: 200px;
}