@import 'font.css';


.recipe-list{

    border-right:1px solid black;
    min-height: 100vh;
    width: 100%;

}

.recipe-list__add-recipe-btn-container{
    box-sizing: border-box;
    padding: 1rem;
    text-align: center;

}

