.recipe {
    padding: 1rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid black;
}

.recipe__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recipe__title {
    margin: 0;
    font-size: 1.75rem;
}

.recipe__row{
    margin-top: 10px;
}
.recipe__label{
  font-weight:bold;
  margin-right: 5px;
}
.recipe__value--indented{
 
 margin-top: 10px;
 margin-left: 20px;

}

.recipe__value--instructions{
    white-space: pre-wrap;
}